<div class="main">
  <div class="divButton">
    <button mat-button
            matTooltip="Search for a Tournament">
      <mat-icon>search</mat-icon>
    </button></div>

  <div class="divButton">
    <button mat-button
               matTooltip="Browse Through Tournaments">
      <mat-icon>folder_open</mat-icon>
    </button></div>

  <div class="divButton">
    <button mat-button
            matTooltip="Create a new Tournament">
      <mat-icon>add</mat-icon>
    </button></div>
</div>
<div>
  <span></span>
</div>
<div>
  <app-create-tournament></app-create-tournament>
</div>
