<div class="regCon">
  <div [ngClass]="{'mat-title': loginText === 'Login', 'red-error' : loginText != 'Login'}">{{ loginText }}</div>

  <mat-form-field (change)="changeBackLogin()">
    <input matInput placeholder="Username" [formControl]="user" required>
    <mat-error *ngIf="user.invalid">{{ getUserErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field (change)="changeBackLogin()">
    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="pass" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="pass.invalid">{{ getPassErrorMessage() }}</mat-error>
  </mat-form-field>

  <div class="button-row">
    <button mat-raised-button color="primary" (click)="buttonLogin()">Login</button>
  </div>
</div>

<div class="container" [style.visibility]="progressShow ? 'visible' : 'hidden'">
  <mat-spinner></mat-spinner>
</div>
